<div id="<%= dom_id category %>">
  <p>
    <strong>Title:</strong>
    <%= category.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= category.content %>
  </p>

  <p>
    <strong>Category type:</strong>
    <%= category.category_type %>
  </p>

</div>
